

.ContractSummaryROwSearchResultHeader
{

    font-family: Helvetica;
    font-size: 11px;
    color:white;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 20px;

    background-color: rgba(228, 228, 228, 0.5);
      background-color: rgb(191, 203, 232);
    margin-left: -10px;
    margin-right: 0px;

}

.tblRows{
    overflow-y: auto;
    overflow-x: hidden;
    height: 130px;

    border-radius: 5px;
 }
 .tblRowsPopUp{
     overflow-y: auto;
     overflow-x: hidden;
     height: 230px;

     border-radius: 5px;
  }
.ContractSummaryAlternateROw
{
    background-color: transparent;
    font-family: Helvetica;
    font-size: 11px;
    color: rgb(10, 10, 11);
    font-weight: 400;
    padding: 5px;
    letter-spacing: 1px;

}


.ContractSummaryAlternateROw:hover
{
    cursor:pointer;
    font-size: 11px;
    color: white;
    background-color:black;
    letter-spacing: 2px;
}
.ClientMVs
{
 height:90px;

}
.feeStructureRow{
  background-color: #020202;
  color: white;
}


.BoxesInnerContactsAdminData
{
 background-color:white;
background: -webkit-linear-gradient(top, rgba(234, 242, 253, 0.6), #FFFFFF, #FFFFFF 70%, #FFFFFF);
border: 1px solid #ccc;
border: 1px solid rgba(185, 184, 184, 0.3);

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding-left: 20px;
padding-top: 25px;
height:240px;

}

.BoxesInnerContactsAdminData .nav > li > a {
  padding-top: 3px;
padding-bottom: 0px;
    font-size: 12px;

}



.BoxesInnerContactsAdminData .nav > li.active > a{
    background-color: rgb(191, 203, 232);
    color: white;
    font-weight: 400;
    letter-spacing: 4px;
}

.contactButtonText
{
  position: relative;

  display: inline-block;
      top: -20px;
  margin-left: -30px;
    margin-bottom: 30px;
  padding: 0 8px 1px 8px;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  color: rgb(131, 159, 182);
}


.counter
{
  position: relative;
  top: -1px;
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0 8px 1px 8px;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  color: rgb(131, 159, 182);
}
