
 /*D3 JS Circles*/

 text {
  font-size: 8px;
  pointer-events: none;
  
}

text.parent {
  fill: #1f77b4;
  font-size: 15px;
   fill-opacity: .3;
}

#D3Accts circle {
  /*fill: rgb(141, 152, 187);*/
  /*fill:rgba(0, 0, 128, .8);*/
/*rgb(119, 12, 12)*/

  stroke: rgb(141, 152, 187);
  stroke-opacity: .04;
    fill: transparent;
   fill-opacity: .5;
  pointer-events: all;
  cursor:pointer;
}
 .TerMinatedCircle
{
    fill:rgb(119, 12, 12);
}
#D3Accts circle.parent {
  fill: transparent;
   stroke-opacity: .4;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  stroke: rgba(82, 168, 236, 0.8);
}



#D3Accts circle.child1 {
  fill: rgba(82, 168, 236, 1);
   stroke-opacity: .4;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  stroke: rgba(82, 168, 236, 0.8);
}


#D3Accts circle.child2 {
  fill: RGBA(131, 159, 182,1);
   stroke-opacity: .4;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  stroke: rgba(82, 168, 236, 0.8);
}


#D3Accts circle.child3 {
    fill: rgba(82, 168, 236,1);
   stroke-opacity: .4;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  stroke: rgba(82, 168, 236, 0.8);
}

#D3Accts circle.child4 {
    fill: RGBA(131,159,182,1);
   stroke-opacity: .4;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  stroke: rgba(82, 168, 236, 0.8);
}

circle.child5 {
    fill:  RGBA(101,178,106,1) ;
   stroke-opacity: .4;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  stroke: rgba(82, 168, 236, 0.8);
}

#D3Accts circle.parent:hover {
  stroke: lightgreen;
  fill-opacity: .1;
  stroke-width: 2.5px;
  fill:black;
}

#D3Accts circle.child {
     fill: rgb(109, 211, 109);
   fill-opacity: .5;
      stroke-opacity: .001;
      box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.675), 0 0 8px rgba(82, 168, 236, 0.6);
  /*pointer-events: none;*/
}
 #D3Accts circle.child:hover {
  stroke: lightgreen;
  stroke-width: 2.5px;
  fill:black;
   stroke-opacity: .6;
}
 



#D3Accts circle.tchild {
     fill: rgb(230, 142, 142);
   fill-opacity: .5;
      stroke-opacity: .001;
      box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.675), 0 0 8px rgba(82, 168, 236, 0.6);
  /*pointer-events: none;*/
}
#D3Accts circle.tchild:hover {
  stroke: lightgreen;
  stroke-width: 2.5px;
  fill:black;
   stroke-opacity: .6;
}
 




text.child  {
  fill: transparent;
  font-size: 12px;
  fill-opacity: .001;
}

#D3Accts
{
    margin-left:-300px;
}

#dvAccountsMasterNavigation
{
background: radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0, radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px, radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px, /*linear-gradient(90deg, #FFFFFF 0%, #EEF0F1 20%, #FFFFFF 30%, #ECEFFF 40%, #FFFFFF 50%, #ECF0FA 60%, #E4E9F1 70%, #EFF5FD 80%, #F8F8F8 90%, #FFFFFF 100%);*/ linear-gradient(0deg, rgba(220,234,252,.6) 0%, #EEF0F1 20%, #FFFFFF 30%, #ECEFFF 40%, #FFFFFF 50%, #ECF0FA 60%, #E4E9F1 70%, #EFF5FD 80%, #F8F8F8 90%, #FFFFFF 100%);
background-size: 470px 470px, 970px 970px , 100% 100%;

}