html {
    /*background-color: #e2e2e2;*/
    margin: 0;
    padding: 0;
}

html, 
body {
	height: 100%;
	/*overflow: hidden;*/
    background-color:white;
}

 html {
	/*background: url(../Images/dark_dotted.png) repeat #222;*/
}


body {
    background-color: white;
    border-top: solid 10px #000;
    color: #333;
    
   font-family: Helvetica; 
    
    margin: 0;
    padding: 0;
}
/* 
a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}
 */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Custom Changes Begin Here*/

h1 a {
display: block;
width: 187px;
height: 90px;
overflow: hidden;
background: url(../images/logo.png) 0 0 no-repeat;
text-indent: -999em;
margin-left: 0px;
}



.MainwrapperMobile {
/*width: 100%;
overflow: hidden;
position: relative;*/





width: 80%;
overflow: hidden;
position: relative;
margin: 0 auto;
padding: 0;
z-index: 4000;
}



.Mainwrapper {
/*width: 100%;
overflow: hidden;
position: relative;*/





width: 1000px;
overflow: hidden;
position: relative;
margin: 0 auto;
padding: 0;
z-index: 4000;
}


.RightTopHeader {
float: right;
border-top-width: 3px;
border-top-style: solid;
border-top-color: black;
 
margin-left: 150px;
z-index: 4000 !important;
position: relative;
width: 800Px;
}


.RightTopHeader_RM {
float: right;
border-top-width: 1px;
border-top-style: none;
border-top-color: silver;
 
margin-left: 150px;
z-index: 4000 !important;
position: relative;
width: 800Px;
}


.navRight {
float: right;
border-top-width: 3px;
border-top-style: solid;
border-top-color: black;
margin-top: 70px;
margin-left: 0px;
z-index: 4000 !important;
position: relative;
width: 74.5%;
}

nav {
float: right;
border-top-width: 3px;
border-top-style: solid;
border-top-color: black;
margin-top: 70px;
margin-left: 0px;
z-index: 4000 !important;
position: relative;
width: 74.5%;
}

#column1_wrap_item{
   width: 900px;
   height: 330px;
border: 1px;
/*border-style: solid;*/
display: table-cell;
border-radius: 10px;
background: rgb(235, 235, 235);
border-color: lightgray;
 
}



#column1_wrap_item_ipad{
   width: 800px;
   height: 330px;
border: 1px;
/*border-style: solid;*/
display: table-cell;
border-radius: 10px;
background: white;
border-color: lightgray;
 
}


#column1_wrap_alternate{
     width: 900px;
    
    display: table-cell;
     
 
    border-radius: 5px;
    background: white;
 
}
#column1{
  
     width: 120px;
    margin-right: 200px;
    display: table-cell;
    vertical-align: top;
 
    border-radius: 5px;
 
}
#column2{
  
    
    width: 300px;
    /*margin-left: 200px;*/
    display: table-cell;
    vertical-align: top;
 
    border-radius: 5px;
     
}
#clear
{
    clear: both;
}

header .indent-top {
padding-top: 0px;
}

header .indent-bottom {
padding-bottom: 30px;
}

.tagline_home {
clear: both;
left: 787px;
text-align: right;
position: absolute;
top: 75px;
}




.tagline_home_RM {
/*clear: both;
left: 787px;
text-align: right;
position: absolute;
top: 90px;*/

clear: both;
/*left: 1007px;*/
text-align: right;
position: absolute;
top: 25px;
}



.tagline_home_mobile {
clear: both;
left: 80%;
text-align: right;
position: absolute;
top: 75px;
}

.tagline_app_title {
    font-family: 'Nova Square', cursive;
clear: both;
left: 325px;
text-align: left;
position: absolute;
top: 75px;
top: 35px\9;  /* ** Hacks/Workaround for MSIE ** *//* IE8 and below */  
font-size: 2em;
color: #8A4C4C;
 
 
/*text-transform: uppercase;*/
letter-spacing: 3px;

font-weight: 600;
margin-bottom: 20px;

}


.headerRM {
     height:120px;

}




.tagline_app_title_RM {
    /*font-family: 'Nova Square', cursive;*/
    font-family: Helvetica;
    /*font-family: 'Raleway', sans-serif;*/

clear: both;
left: 425px;
width:550px;
text-align: left;
position: absolute;
top: 75px;
top: 35px\9;  /* ** Hacks/Workaround for MSIE ** *//* IE8 and below */  
/*font-size: 2em;*/
font-size:26px;
/*color:navy;*/
 color:RGB(0,123,183);
 
/*text-transform: uppercase;*/
letter-spacing: 3px;

/*font-weight: 600;*/
margin-bottom: 20px;
/*font-weight:700;*/

}



.titleDD {
    /*font-family: 'Nova Square', cursive;*/
    font-family: Helvetica;
    /*font-family: 'Raleway', sans-serif;*/

clear: both;
left: 425px;
width:550px;
text-align: left;
position: absolute;
top: 75px;
top: 35px\9;  /* ** Hacks/Workaround for MSIE ** *//* IE8 and below */  
/*font-size: 2em;*/
font-size:26px;
/*color:navy;*/
 color:RGB(0,123,183);
 
/*text-transform: uppercase;*/
letter-spacing: 3px;

/*font-weight: 600;*/
margin-bottom: 20px;
/*font-weight:700;*/

}




.headerCustom
{
     padding-bottom: 30px;
 
   /*background: #4b6c9e;*/
     background:white; 
   
    
}

.headerCustom h1
{
    font-weight: 700;
   
  float: left;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: black;
    margin-top: 70px;
    margin-left: 0px;
    z-index: 4000 !important;
    position: relative;
    width: 74.5%;
    color: blue;
    border: none;
    line-height: 2em;
    font-size: 2em;
}


header .indent-bottom {
padding-bottom: 30px;
}




#dvRun
{
text-align:right;
vertical-align:bottom;
grid-row-align:center;
width:100%;    
 
}


.grid_12RM {
/*float: left;*/
display: inline;
margin-left: 10px;
margin-right: 10px;
height: 110Px;
position: relative;
}


.grid_12 {
float: left;
display: inline;
margin-left: 10px;
margin-right: 10px;
height: 110Px;
position: relative;
}

 .PopUpDiv {
    height: 340px;
    max-height:340px;
    width:640Px;
    text-align:left;
    float: left;
    overflow: auto;
    overflow-x: hidden;

}


 .AccountListingDiv {
    width:100%;
    border-style:dotted;
    border-width:1px;
    border-color:gray;
    text-align:left;
    float: left;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 10px;
}


 
.CommingledFundSummary
{
   background-color:whitesmoke;
    /*color:navy;*/
}
.cPopUpSummary { 
    border: 1px;
    border-style:solid;
    border-color:lightgray;
     background-color:white;
     height: 450px;
    vertical-align:top;
      
  
    border-radius: 5px;
   background: White url('/Images/DXR.png') no-repeat left top; 
 
   
}


.dispEntityHeader {
 
 
text-align:center;
width:700px;
 margin-left: 150px;
 
color: white;
}

.clinetDivForIPAD {
 
width:815Px;
text-align: left;
display: table-cell;
background-color: rgb(63, 114, 141);
color: white;
}


.homeDivForIPAD {
 
width:815Px;
text-align: right;
 
 
  

 
display: table-cell;
 
 
 

}



.CoverPage {
    height: 480px;
max-height: 480px;
width:415Px;
text-align: center;
 
 
  

min-height: 10em;
display: table-cell;
vertical-align: middle;
 
border-radius: 5px;
background: whitesmoke;
 

}


.CoverPageClientName {
 
font: 12px Verdana;
color: darkblue;
font-weight: 600;
 text-shadow: 0px 1px 2px #555;


min-height: 10em;
 
 

}
.CoverPageEntityName {
 
font: 10px Verdana;
color: darkblue;
font-weight: 600;
 text-shadow: 0px 1px 2px #555;


min-height: 10em;
 
 

}
 
.CommingledAlterNameFundSummary
{
   background-color:gainsboro;
    /*color:navy;*/
}

.CommingledFundSummaryEmpty
{
   /*background-color:lightgray;*/
   width:2Px;
    /*color:navy;*/
}

.MatrixHeaderParentEntityNameRow
{
   background-color:whitesmoke;
    /*color:navy;*/
}

.MatrixHeaderNonParentEntityNameRow
{
    background-color:white;
    /*color:black;*/
}

.EntityMVHeader
{
    text-align: right;
 
}


.EntityMVInceptionDate
{
    text-align: left;
/*font-family: Georgia, serif;*/
 
color: navy;
letter-spacing: 1px;
font-weight: bold;
}





.EntityHeaderRowDataBPS
{
        text-align: left;
vertical-align: top;
/*font-family: Helvetica;*/
font-family: 'Raleway', sans-serif;
color: rgb(252, 252, 252);
font-size: 11px;
background-color: rgb(138, 138, 138);
text-wrap: normal;
/*font-weight: 900;*/
 
}


.EntityHeaderRowData
{
        text-align:left;
        vertical-align:top;
        font-family:Verdana;
        font-size: 10px;
       
        /*background-color:rgb(63, 114, 141);*/
        /*width:300Px;*/
        text-wrap:normal;
        /*color:black;*/
        /*text-transform: uppercase;*/
      
        /*background-color:#e2e2e2;*/
        font-weight:500;
 
}

.EntityHeaderRow
{
        text-align:left;
        vertical-align:top;
        font-family:Verdana;
        font-size: 11px;
        color:rgb(121, 118, 118);
        /*background-color:rgb(63, 114, 141);*/
        /*width:300Px;*/
        text-wrap:normal;
        /*color:black;*/
        /*text-transform: uppercase;*/
        letter-spacing: 1px;
        /*background-color:#e2e2e2;*/
        font-weight:900;
 
}




.MatrixHeaderEntityNameRow
{
        text-align:left;
        vertical-align:top;
        font-family:Verdana;
        font-size: 9px;
        /*width:300Px;*/
        text-wrap:normal;
        /*color:black;*/
        /*text-transform: uppercase;*/
        letter-spacing: 1px;
        /*background-color:#e2e2e2;*/
        font-weight: 500;
 
}

.MatrixHeaderRow
{
        text-align:left;
        vertical-align:top;
        font-family:Verdana;
        font-size: 9px;
        
        /*color:rgb(121, 118, 118);*/
        text-transform: uppercase;
        letter-spacing: 1px;
        /*background-color:#e2e2e2;*/
        font-weight: 500;
 
}
.MatrixTable
{
    background: White url('/Images/DXR.png') no-repeat left top;
}
.MatrixHeader
{
text-align: left;
/*font-family: Helvetica;*/
font-family: 'Raleway', sans-serif;
font-size: 9px;
vertical-align: top;
color: white;
text-transform: uppercase;
letter-spacing: 1px;
background-color: rgb(51, 64, 105);
font-weight: 500;
 
}

.MatrixHeaderCheckBox { 
 vertical-align:top;
 border-left-style: dashed;
border-left-width: 1px;
border-left-color: silver;
  /*background-color: #e2e2e2;*/
   
}




.ColHeaderForIPAD
{
    text-align:left;
    /*-webkit-transform: rotate(1000deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);*/
    font-family:Verdana;
    font-size: 10px;
    vertical-align:middle;
 
    color:white;
text-transform: uppercase;
letter-spacing: 2px;
/*background-color:#e2e2e2;*/
/*font-weight: 700;*/
 
}




.ColHeader
{
    text-align:left;
    /*-webkit-transform: rotate(1000deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);*/
    /*font-family: Helvetica;*/
    font-family: Arial, sans-serif;
    font-size: 11px;
    vertical-align:middle;
 
    /*color:rgb(121, 118, 118);*/
    color:black;
    color:rgb(111, 108, 108);
text-transform: uppercase;
letter-spacing: 1px;
/*background-color:#e2e2e2;*/
font-weight: 700;
 
}

.ColVal
{
    text-align:left;
 color:black;
    font-family: Arial, sans-serif;
    vertical-align:middle;
 font-weight: 400;
  font-size: 10px;   
 
}

.AUMHeader
{
    text-align:left;
    /*-webkit-transform: rotate(1000deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);*/
    font-family: Georgia, serif;
    font-size: 20px;
  
    color:navy;
letter-spacing: 2px;
 
font-weight:bold;
 
}



.SelectionlegendVerticle {
padding: .5em .4em;
/*font-family: Helvetica;*/
font-family: 'Raleway', sans-serif;
font-size: 9px;
text-transform: uppercase;
letter-spacing: 3px;
color: rgb(253, 250, 250);
text-align: center;
/*background-color: rgb(51, 64, 105);*/

background-color:rgb(63, 114, 141);
width: 10Px;
vertical-align:top;
 font-weight: 500;
  }


.tdSelectionVerticle
{
    width:20Px;
}

.SelectionlegendVerticleWithRotation {
padding: .5em .4em;
/*font-family: Helvetica;*/
font-family: 'Raleway', sans-serif;
font-size: 9px;
text-transform: uppercase;
letter-spacing: 3px;
color: rgb(253, 250, 250);
text-align: center;
background-color: rgb(51, 64, 105);
width: 10Px;
vertical-align:top;
 font-weight: 500;
 margin-bottom:0;margin-left:0;z-index:1;/* Safari */
  -webkit-transform: rotate(-90deg); /* Firefox */ 
  -moz-transform: rotate(-90deg);
  -moz-transform-origin: 20px 0px;  
  /* Internet Explorer */ 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  cursor:pointer;
  width: 150Px;
height: 10px;

  }

.entitySummary
{
    border-style:none;
    background-color:whitesmoke; 
    width: 70%;
    text-align:center;
    vertical-align:bottom;
     border-radius: 5px;
}


.TableSummary
{
  
    
    text-align:center;
    vertical-align:bottom;

}





.cAUmFieldSet { 
    border: 1px;
    /*background-color:rgb(106, 144, 167);*/
     background-color: #e2e2e2;
    /*background-color: rgb(256, 256, 206);*/
     font-weight: 500;
    /*border-style: dotted;*/
    /*color: white;*/
    width: 150PX;
height: 150px;
   background: White url('/Images/DXR.png') no-repeat left top;
 
   
}


.cAUmFieldSetCharts { 
    border: 1px;
 
     background-color: white;
    
     font-weight: 500;
  
    width: 310PX;
    width: 330PX\9; /* ** Hacks/Workaround for MSIE ** *//* IE8 and below */  
    
    height: 150px;
   /*background: White url('/Images/DXR.png') no-repeat left top;*/
 
   
}

.cEntityHeader { 
 vertical-align:top;
  /*background-color: #e2e2e2;*/
   
}
.Selectionfieldset { 
    
    /*background-color: #e2e2e2;*/
     background-color: white;
   
    color: rgb(121, 118, 118);
    border-style:dotted;
    border-width:0px;
    border-color:gray;
    border-radius: 10px;
   padding-top: 0px;
   padding-bottom: 0px;
}

.MainPanelSummary
{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-radius: 10px;
    background-color: whitesmoke;


}



.MainPanelSummaryIpad
{
 
width: 900px;
height: 530px;
border-color: lightgrey;
border-width: 1px;
border-style: solid;
 
display: block;
background-color: rgb(255, 252, 252);
border-radius: 20px;
}

.OldSelectionfieldset { 
    border: 1px;
    /*background-color: #e2e2e2;*/
     background-color: white;
    border-style: dotted;
    color: rgb(121, 118, 118);
 
   
}


.Selectionlegend {
    padding: .1em .1em; 
    /*font-family: Helvetica;*/
    font-family: 'Raleway', sans-serif;
    font-size:9px;
    text-transform: uppercase;
letter-spacing: 1px;
    /*color: rgb(253, 250, 250);*/
    text-align: right;
    
    background-color: white;
    text-decoration:underline;
  }

.normaltext
{
    font-family:Verdana;
    font-size:smaller;
    font-weight:100;
}


.normaltextCol
{
    font-family:Verdana;
    font-size:smaller;
    font-weight:600;
}

.example-date {
background-color:ghostwhite;
float: right;
position: relative;
padding: 45px 15px 0px;
margin-left: 10px;
border-radius: 5px;
}
.example-date .example-day {
font-size: 25px;
line-height: 45px;
position: absolute;
left: 5px;
top: 0px;
}

.example-date .example-month {
text-transform: uppercase;
font-size: 25px;
}

.example-date .example-year {

 display: block;
position: absolute;
right: -5px;
top: 15px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.tabVertical
{
    
     width: 120px; height: 10px;
    -webkit-transform: rotate(-90deg);
 
    -moz-transform: rotate(-90deg);
    
    -o-transform: rotate(-90deg);
     
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    
 
     
  
}



.tabVerticalActice
{
    /*background-color:black;
    color:white;*/
    right: 10px;
    white-space: nowrap;
 display: block;
border-width: 0px!important;
padding: 0px!important;
    rotation: -90deg !important;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.example-year {
display: block;
float: right;
position: relative;
right: 10px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.example-day {
    text-align:right;
    vertical-align:bottom;
font-size: 25px;
line-height: 45px;
position: absolute;
left: 5px;
top: 0px;
}

.example-month {
    text-align:center;
text-transform: uppercase;
font-size: 25px;
}


.TinyScrollTopNav
{
    vertical-align:top;
    padding-top:40px;
}
.PageLinkGD
{
     Width:12px;
     Height:12px;
     cursor:default;
     cursor: pointer;
}
.PageLink
{
     Width:12px;
     Height:12px;
     cursor:default;
     cursor: pointer;

}
.tbl
{
     border-collapse:collapse /* 'cellspacing' equivalent */
}
table td, table th
{
    padding: 5; /* 'cellpadding' equivalent */
    vertical-align:top;
}

.date {
  position:relative;
  width: 70px;
  width: 50px\9; /* ** Hacks/Workaround for MSIE ** *//* IE8 and below */  
  font-family: Georgia, serif;
 top: -22px;
color: rgb(176, 176, 179);
 
background-color: white;
float: right;
 padding: 55px 0px 0px;
margin-left: 60px;
border-radius: 5px;
 }
 
.day, .month, .year {
  position: absolute;
  }
 
.day { 
    font-size: 30px;
  font-size: 25px\9; /* ** Hacks/Workaround for MSIE ** *//* IE8 and below */  
  top: 15px;
  }
 
.month { 
  top: 0;
  left: 0;  
  font-size: 18px;
  }
 
.year { 
  top: 15px;
  top: 5px\9;  /* ** Hacks/Workaround for MSIE ** *//* IE8 and below */  
  right: 8px;
  right: -1px\9;  /* ** Hacks/Workaround for MSIE ** *//* IE8 and below */  
  font-weight:100;
  font-size: 20px;
  rotation: -90deg !important;
  /* ** Hacks ** */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);  
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }












/* Custom Changes Ends  Here*/



.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    position: relative;
width: 1000px;
margin: 0 auto;
padding: 0;
z-index: 4000;
}



.content-wrapper_mobile {
    position: relative;
width: 80%;
margin: 0 auto;
padding: 0;
z-index: 4000;
}


#body {
   /* background-color: #efeeef;*/
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
       /* background: url("../Images/accent.png") no-repeat;*/
        padding-left: 10px;
        padding-top: 00px;
        border: dotted;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-width: 0px;
        /*background-color: #efeeef;*/
        /*height:1000Px;*/

    }


    .main-content_mobile {
       /* background: url("../Images/accent.png") no-repeat;*/
        padding-left: 10px;
        padding-top: 00px;
        border: dotted;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-width: 0px;
        /*background-color: #efeeef;*/
        /*height:1000Px;*/

    }


    .featured + .main-content {
       /* background: url("../Images/heroAccent.png") no-repeat;*/
    }

header .content-wrapper {
    padding-top: 20px; 
}
    
footer {
    clear: both;
    /*background-color: #e2e2e2;*/
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        /*background-color: #7ac0da;*/
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }
    
/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    /*border: none;
    margin: 0;
    padding: 0;*/
}

    /*fieldset legend {
        display: none;
    }*/
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    label {
        display: block;
        font-size: 1.2em;
        /*font-weight: 600;*/
    }

    label.checkbox {
        display: inline;
    }

    input, textarea {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;
    }

    textarea {
        font-family: inherit;
        width: 500px;
    }
    
        input:focus, textarea:focus {
            border: 1px solid #7ac0da;
        }

        input[type="checkbox"] {
            background: transparent;
            border: inherit;
            width: auto;
        }
        
    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
 
/*freetile*/

#freetile-demo {
	margin: 50px auto;
	max-width: 962px;
}

.test {
	background: #eceeef;
	border: 1px solid #ccc;
	margin: 30px 0;
}

.third.test {
	float: left;
	clear: right;
	width: 80px;
}

.fourth.test {
	clear: both;
	width: 100%;
}

.empty.test {
	padding: 10px 0;
	background: #efeff1;
}

.element {
	background: #585a5a;
	border-right: 1px solid #e9eaeb;
	border-bottom: 1px solid #e9eaeb;
}
/*freetile*/