<div class="row">
    <div class="col-xs-12 grid_12RM">
        <div class="tagline_home_RM">
            <h1>
                <a href="#"> </a>
            </h1>
        </div>
        <div id="titleDD" class="tagline_app_title_RM">
            Distribution <font size=2> Dashbaord</font>
        </div>
        <div class="usrLogout indent-top indent-bottom">
            <script>
                $("#aLogOut").attr("href", "../ClientAccounts/logout.html?t=" + (new Date()).getTime());

            </script>
            <span id="userId"></span>  <a id="aLogOut" target="_self">Log Out</a>
        </div>
    </div>
</div>
