<div id="clientSummaryMVTitle" class="clientSummaryMVTitleNew">
  {{vTabDescArr[vTab-1]}}
</div>
<div ng-class="openRSMenu" class="row">
  <div     class="col-lg-12 col-md-12">
     <div class='rightSide-content' >
      <div ng-show="isSetVeritical(1)" class="BoxesInnerContactsAdminData">
          <div   class="row">
            <div     class="col-lg-2 col-md-3">
           <input type="checkbox"   ng-model="contacts.all" class="js-switch chkAll" ui-switch /><span class="contactButtonText">{{allCnt}} ALL </span>
            </div>
            <div     class="col-lg-2 col-md-3">
              <input id="chkPrimary" type="checkbox" ng-model="contacts.primary" class="js-switch chkNonAll" ui-switch /><span class="contactButtonText"> {{primaryCnt}} Primary </span>
            </div>
            <div     class="col-lg-2 col-md-3">
              <input type="checkbox" ng-model="contacts.DFE" class="js-switch chkNonAll" ui-switch /><span class="contactButtonText">{{contacts.dfeCnt}} DFE </span>
              </div>
          <div     class="col-lg-2 col-md-3">
           <input type="checkbox" ng-model="contacts.billing" class="js-switch chkNonAll" ui-switch /><span class="contactButtonText">{{billingCnt}} Billing </span>
           </div>
             <div     class="col-lg-3 col-md-3">
           <input type="checkbox" ng-model="contacts.authorized" class="js-switch chkNonAll" ui-switch /><span class="contactButtonText">{{authorizedCnt}} Authorized Signer </span>
           </div>
         </div>
         <!-- <ul   class="nav nav-tabs">
           <li class="ng-isolate-scope active"><a href="#" name="tab0"><span class="counter"> 6</span> Client</a></li>
           <li><a href="#" name="tab1"><span class="counter"> 3</span> Consultant</a></li>
           <li><a href="#" name="tab2"><span class="counter"> 1</span> Trustee</a></li></ul> -->

           <ul class="nav nav-tabs">
             <li  ng-repeat="item in clientContactTabs" class="{{$index===acivecontactTab ?'ng-isolate-scope active':'';}}">
                <a  ng-click="setClientContactTab($index)"><span class="counter">  {{ClientContactsGrp['' + item].length}}   {{item}}</a>
             </li>

           </ul>

         <div class="contactData">
           <br>
           <span class="ContactcomapnyHeader">{{selectedContactCompanyName}}</span>
           <div class="row contactList">
             <div   ng-repeat="item in selectedContacts" class="contactLable col-lg-4">
                <a href ng-click="openContact($event,item)">
                {{$index + 1}}. {{ item.first_name +' '+ item.last_name }}
                </a>
             </div>
             </div>
          
            <div   ng-show="contactPopUp"  class="dvContact"> <div class="row-fluid ContactNameBottomBorder"><span class="ContactName">
              {{selectedContact.person_name}}
            </span>&nbsp;&nbsp;{{selectedContact.entity_name}}  </div> 
            <div class="row">
                <div class="col-lg-4 col-md-4  ContactCardRight"> 
                    <table border="0"><tbody><tr class="AcctDetailsROw"><td>Authorized Signer</td><td>{{selectedContact.signator}}</td></tr>
                    <tr class="AcctDetailsAlternateROw"><td> Primary</td><td>{{selectedContact.primary_contact}}</td></tr>
                    <tr class="AcctDetailsROw"><td> DFE</td><td>{{selectedContact.dfe_report}}</td></tr>
                    <tr class="AcctDetailsAlternateROw"><td> Billing</td><td>{{selectedContact.billing_contact}}</td></tr>
                    <tr class="AcctDetailsROw"><td> ICC</td><td> </td></tr></tbody>
                    </table>
                </div>
                <div class="col-lg-8 col-md-8">
                    <table border="0" cellspacing="5"> <tbody><tr><td colspan="3"> 
                    {{selectedContact.PHONES}}  </td> </tr><tr><td colspan="3"><a href="mailto:Rick.Bratthauer@schwab.com"> {{selectedContact.e_mail_address}} </a> </td></tr><tr><td colspan="3">{{selectedContact.mail_address}}</td></tr><tr><td>{{selectedContact.mail_city}}</td><td td="">{{selectedContact.mail_state}} - {{selectedContact.mail_zip}}</td> <td>{{selectedContact.mail_country}}</td></tr></tbody></table> 
                     <span class="contacts"><a href ng-click="closeContact()" >Close</a></span>
                </div>

              </div>
            </div>

           </div>
       </div>
        <div class="BoxesInnerContactsAdminData" ng-show="isSetVeritical(2)">
          AuthFund Page
      </div>
      <div class="BoxesInnerContactsAdminData" ng-show="isSetVeritical(3)">
        <div class="row">
            <div class="col-lg-11 col-md-12">
             <hc-col  
             options={height:201,width:500,colorsPallete:["rgba(0,255,0,.5)","rgba(255,0,0,.5)"]} 
             dataset="cashflows"  
             series="scols"  
             totals="cashflowTotals"  >
                    </hc-col>
                
            </div>
            <div class="col-lg-1">
              
            </div>
        </div>
         
      </div>
    <div ng-click="openRSMenu===''?openRSMenu='rightSide-open rightSide-content':openRSMenu=''"  class='rightSide-menu'>
          <div class='rightSide-icon' >
            <img title="click here to open additional features"  src="images/add2_257.png" width="15px" height="12px">


          </div>
        <nav>

          <ul id="clAdmintabs" class="nav nav-pills clientsTabs">
                <li ng-class="{active:isSetVeritical(1)}"   >
                    <a href  ng-click="setTabVeritical(1)">
                        <span class="sactive" style="color: black;">Contacts</span>
                        <div class="bgTabNumActive ng-binding">{{contactCnt}}</div>
                    </a>
                </li>
                <li ng-class="{ active:isSetVeritical(2) }">
                    <a href  ng-click="setTabVeritical(2)">
                        <span class="sactive" style="color: silver;">Auth Funds</span>
                        <div class="bgTabNum ng-binding"> </div>
                    </a>
                </li>
                <li ng-class="{ active:isSetVeritical(3) }">
                    <a href  ng-click="setTabVeritical(3)">
                        <span class="sactive" style="color: silver;">Cash Flow</span>
                        <div class="bgTabNum ng-binding"> </div>
                    </a>

                </li>
                <br>
                <a class="closeRS" href  ng-click="openRSMenu!==''?openRSMenu='rightSide-open rightSide-content':openRSMenu=''">
                close
                </a>
        </nav>


        </div>




  </div>

  </div>
</div>
</div>
