<div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="alert alert-danger" ng-show="!bData">loading client Data....</div>

  <div id="clientSummaryHeader" class="ClientSummaryHeader   row">
            <div  class="ContactcomapnyHeader col-lg-3 col-md-4">
                {{adminDS.ClientName}}
            </div>
            <div class="col-lg-2 col-md-2">
                <div id="clientSummaryR2C1" class="ColHeader">
                    RM:<span class="ColVal">{{adminDS.RM}}</span>
                </div>
                <div   class="ColHeader">
                    CSR: <span class="ColVal">{{adminDS.CSR}}</span>
                </div>
            </div>

            <div class="col-lg-1 col-md-2">
                <div class="ColHeader">
                DSR
                </div>
                <div   class="ColVal">
                    {{DSR!==undefined?DSR:'Loading..'}}
                </div>
            </div>
            <div class="col-lg-1 col-md-2">
                <div class="ColHeader">
                AsOfDate
                </div>
                <div   class="ColVal">
                  {{asofdate}}
                </div>
            </div>


            <div class="col-lg-1 col-md-2">
                <div id="tAssets" class="ColHeader">
                    Assets
                </div>
                <div   class="asColNum ColVal">
                  {{totalMV!==undefined?totalMV:'Loading..'}}
                </div>
            </div>
            <div class="col-lg-1 col-md-2">
                <div   class="ColHeader">
                </div>
                <div  class="ColVal">
                </div>
            </div>

            <div class="col-lg-1 col-md-2">
                <div   class="ColHeader">
                  Watch List
                </div>
                <div  class="ColVal">
                    {{watch_list_rank!==undefined?watch_list_rank:'Loading..'}}
                </div>
            </div>
            <div class="col-lg-1 col-md-2">
                <div   class="ColHeader">
                  Client Tier Level
                </div>
                <div   class="ColVal">

                  {{client_tier_level!==undefined?client_tier_level:'Loading..'}}
                </div>
            </div>

        </div>




    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div id="clientSummaryMVTitle" class="clientSummaryMVTitleNew">
            Market Value
        </div>
        <!-- Tabs Go Here -->
        <section class="BoxesInnerContacts clDiv">
            <div id="tabAnimation" class="tabAnim"></div>
            <ul id="clmvtab" class="nav nav-pills clientsTabs">
                <li ng-class="{active:isSet(1)}">
                    <a href ng-click="setTab(1)">
                        <span class="sactive">Contract</span>
                        <div class="bgTabNumActive">{{contLen}}</div>
                    </a>
                </li>
                <li   ng-class="{ active:isSet(2) }">
                    <a href ng-click="setTab(2)">
                        <span class="sactive">Strategy</span>
                        <div class="bgTabNum">{{strategyLen}}</div>
                    </a>
                </li>
                <li   ng-class="{ active:isSet(3) }">
                    <a href ng-click="setTab(3)">
                        <span class="sactive">Asset Class</span>
                        <div class="bgTabNum">{{assetClassLen}}</div>
                    </a>

                </li>
            </ul>

            <!--  Contract Tab  -->
            <div id="clientSummaryInner" ng-show="isSet(1)">



                    <div class="row ContractSummaryROwSearchResultHeader">
                        <div class="col-lg-5  ContractName">
                            Contract Name&nbsp;
                        </div>

                        <div class="col-lg-2 mv">
                            MV&nbsp;
                        </div>
                        <div class="col-lg-4 startdate">
                             Start Date&nbsp;
                        </div>
                        <div class="col-lg-1 description">
                            &nbsp;
                        </div>

                    </div>
                <div  class="tblRows">
                    <div ng-repeat="item in ContractSummary  | orderBy:sort.sortingOrder:sort.reverse" class="row ContractSummaryAlternateROw">
                        <div class="col-lg-5">
                          <a href ng-click="popUp($event,item.custodiancode )">
                              <span >{{item.name}}</span>

                          </a>


                        </div>
                        <div class="col-lg-2">
                            {{item.mv}}
                        </div>
                        <div class="col-lg-2">
                            {{item.startdate}}
                        </div>


                        <div class="col-lg-3 description">
                            {{item.description}}
                        </div>

                    </div>

                </div>



                </div>

            <!--  Strategy  -->
            <div id="clientSummaryInnerStrategy" ng-show="isSet(2)">
                <mvsummary columns="strategyCols" datasets="StrategySummary"></mvsummary>
            </div>

            <!--  Asset Class -->
            <div id="clientSummaryInnerAccount" ng-show="isSet(3)">
                <mvsummary columns="assetCols" datasets="AssetSummary"></mvsummary>
            </div>

        </section>

 </div>
<div class="col-lg-6 col-md-12">

        <client-Admin></client-Admin>



</div>

</div>



    <div id="d3Navline" ng-click="closeclientDetailsPopUp(); " style="position:absolute;top:0px;left:0px;  z-index:3" />
    <div id="clientDetailsPopUp" class="avgrund-popup">
      <!--  Contract Tab  -->

<br>
<br>


              <div class="row ContractSummaryROwSearchResultHeader">
                  <div class="col-lg-2 col-md-12 custodian_acct_no">

                  </div>

                  <div class="col-lg-3 col-md-3 entity_long_name">

                  </div>
                  <div class="col-lg-1 col-md-1 acct_vehicle">

                  </div>
                  <div class="col-lg-1 col-md-1 acct_inception_date">
                      &nbsp;Inception Date
                  </div>
                  <div class="col-lg-1 col-md-1 base_mkt_val">
                      &nbsp;Market Value
                  </div>
                  <div class="col-lg-4 col-md-4">
                      &nbsp;Fee Structure
                  </div>

              </div>
          <div  class="tblRowsPopUp">
              <div ng-repeat="item in filteredaccounts  | orderBy:sort.sortingOrder:sort.reverse" class="row ContractSummaryAlternateROw">
                  <div class="col-lg-2">
                        {{item.DistributionEntity.parent_custodian_acct_no }}
                        {{item.DistributionEntity.acct_vehicle !=="Separately Managed"?"-":""}}
                        {{item.DistributionEntity.custodian_acct_no }}
                  </div>
                  <div class="col-lg-3 col-md-4">
                    {{item.DistributionEntity.entity_name }}-
                      {{item.DistributionEntity.entity_long_name }}
                      <br>
                      Strategy : {{item.DistributionEntity.product_id }}
                      <br>
                      Benchmark : {{item.DistributionEntity.Banchmark }}
                  </div>
                  <div class="col-lg-1 col-md-1">
                      {{item.DistributionEntity.acct_vehicle }}
                  </div>


                  <div class="col-lg-1 col-md-1">
                       {{item.DistributionEntity.acct_inception_date }}
                  </div>
                  <div class="col-lg-1 col-md-1">
                       {{item.DistributionEntity.mv }}
                  </div>
                  <div class="col-lg-4 col-md-4">
                          <div ng-repeat="feeitem in item.FeeStructure   " class="row feeStructureRow">
                            <div class="col-lg-11 col-md-11">
                                {{ feeitem.tierendWithMV}} - {{feeitem.tierend!==null? feeitem.tierendWithMV :'$∞'}}
                                &nbsp;&nbsp;
                                {{feeitem.tierresult}}  &nbsp;{{feeitem.annual_rate_type}}


                        </div>

                  </div>

              </div>

          </div>
          <a  class="avgrund-close" ng-click="closeclientDetailsPopUp(); ">Close</a>





    </div>
